.cst_align_left {
	text-align: left !important;
}

.cst_align_center {
	text-align: center !important;
}

.cst_align_right {
	text-align: right !important;
}

.cst_center {
	margin: 0 auto;
}

.cst_mg_top30 {
	margin-top: 30px !important;
}

.cst_mg_top60 {
	margin-top: 60px !important;
}

.cst_mg_top100 {
	margin-top: 100px !important;
}

.cst_va_sub {
	vertical-align: sub !important;
}

.cst_pd_top30 {
	padding-top: 30px !important;
}

.cst_pd_top60 {
	padding-top: 60px !important;
}

.cst_pd_top100 {
	padding-top: 100px !important;
}

.cst_pd_top200 {
	padding-top: 200px !important;
}

.cst_pd_top300 {
	padding-top: 300px !important;
}

.cst_pd_top400 {
	padding-top: 400px !important;
}

.cst_pd_top500 {
	padding-top: 500px !important;
}

.cst_pd_bottom30 {
	padding-bottom: 30px !important;
}

.cst_pd_bottom60 {
	padding-bottom: 60px !important;
}

.cst_pd_bottom100 {
	padding-bottom: 100px !important;
}

.cst_pd_bottom200 {
	padding-bottom: 200px !important;
}

.cst_pd_bottom300 {
	padding-bottom: 300px !important;
}

.cst_pd_bottom400 {
	padding-bottom: 400px !important;
}

.cst_pd_bottom500 {
	padding-bottom: 500px !important;
}

.cst_min_height_100 {
    min-height: 100px !important;
}

.cst_min_height_200 {
    min-height: 200px !important;
}

.cst_min_height_300 {
    min-height: 300px !important;
}

.cst_min_height_400 {
    min-height: 400px !important;
}

.cst_min_height_500 {
    min-height: 500px !important;
}

.cst_width_50 {
    width: 50px !important;
}

.cst_width_100 {
    width: 100px !important;
}

.cst_width_150 {
    width: 150px !important;
}

.cst_width_200 {
    width: 200px !important;
}

.cst_width_100per {
    width: 100% !important;
}

.cst_height_30 {
    height: 30px !important;
}

.cst_height_50 {
    height: 50px !important;
}

.cst_height_100 {
    height: 100px !important;
}

.cst_height_150 {
    height: 150px !important;
}

.cst_height_200 {
    height: 200px !important;
}

.cst_cursor_point {
    cursor: pointer !important;
}

.dn {
	display: none;
}

.db {
	display: block;
}

#colorlib-main-nav .sub_menu li {
	margin-left: 20px;
	list-style: circle;	
}
#colorlib-main-nav .sub_menu li a {
	color: lightgrey;
}